/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
@import "Reset.css";

body {
  font-family: 'Signika', sans-serif;
  font-size: 15px;
  color:#1A1A1A ;
}
nav img {
width:150px;
height:45px;
float:left;
padding:20px 0px 20px 20px;

}

nav {
 position: fixed;
 background-color: #FFF;
 width: 1024px;
 
}

nav ul {
display: flex;
float: right;
padding-top: 35px;
}

nav li {
 font-size: 1.2em;
 margin-right:30px;
}

nav li a {
    color: #1A1A1A;
    text-decoration: none;   
}

#intro img {
    width: 1024px;
    height: 550px;
    margin-top: 70px;
}

#intro article {
 color: ivory;
 position: relative;
 text-align: center;
 margin-top:-300px;
 margin-right: 420px;
 padding-bottom: 250px;

}

.title{
 font-size:2.2em;
}

#options {
 margin: 0px 0px 50px 0px;
 
}

.whats-on {
 display: flex;
 justify-content: space-evenly;
 position: relative;
 width:1024px;
 padding: -30px -50px 90px 0px;
 margin: 0px 250px 0px 0px;
 
}

h3 {
 font-size:1.6em;
 margin-left: 420px;
 margin-bottom: 30px;
}

.boxes h4{
 font-size: 1.3em;
 text-align: center;
 margin-bottom: 20px;
 color:#00B172;
 
}

.boxes img {
 width:50px;
 display: block;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 20px;
 
}

.boxes p {
    text-align: center;
    font-size: 1.1;
    padding: 0px 90px 0px 90px;
}

#last-part {
    background-color:#00B172 ;
    width:1024px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

.logo{
    position: absolute;
    width: 100px;
    height: 100px;
    padding-top: 300px;
    margin-left: -200px;
}

.player {
    width:300px;
    height: 550px;
    padding: 100px 50px 50px 20px;
}

#last-part h4 {
    font-size: 1.5em;
    text-decoration: underline;
    color: #FFF;
    padding: 70px 20px 20px 50px;
    
}
#last-part h5 {
    font-size: 1.2em;
    font-weight: bold;
    color: #FFF;
    padding: 20px 0px 0px 50px;

}

#last-part p{
    font-size: 1.2em;
    font-weight: lighter;
    color:#FFF;
    text-align: justify;
    letter-spacing: 0.5px;
    line-height: 150%;
    padding-right: 150px;
    padding: 30px 360px 30px 50px;
}
